img{
  display: flex;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.m{
  margin-top: 70px;
}

.search{
  width: 100%;
}

.centered{
  display: flex;
  justify-content: center;
}

.buttons{
  width: 88%;
}
