<app-topnav></app-topnav>

<div class="form-control m">
  <div class="centered">
    <div class="input-group">
      <input
        type="text"
        placeholder="Search…"
        class="input input-bordered search"
      />
      <button class="btn btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-search"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="10" cy="10" r="7"></circle>
          <line x1="21" y1="21" x2="15" y2="15"></line>
        </svg>
      </button>
    </div>
  </div>
</div>

<div class="max-w-md">
  <figure class="flex justify-center">
    <img
      src="https://media.discordapp.net/attachments/1019131152814059570/1019163476003930112/person-searching.jpeg?width=528&height=529"
    />
  </figure>

  <div class="flex justify-center">
    <button class="btn btn-primary shadow-xl buttons" routerLink="/choose/category">Browse Careers</button>
  </div>
</div>

<app-navbar></app-navbar>
