img{
  display: flex;
  width: 100%;
  height: 400px;
  // margin-top: 40px;
  // margin-bottom: 40px;
}

.m{
  margin-top: 80px;
  justify-content: center;

}

img{
  height: 330px !important;
}

.search{
  width: 100%;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow{
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.centered{
  display: flex;
  justify-content: center;

}

.buttons{
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}

.buttons:hover{
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.push{
    margin-top: 60px;
    margin-bottom: 50px;
}

.sh{
  box-shadow: 3px 3px 0px 0px rgba(77, 188, 184, 0.286);
  transition: all .2s ease-in-out; 
}

.sh:hover{
  color: #56aca8;
  cursor: pointer;
  transform: scale(1.1); 
}

#image{
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}


.sep{
  margin-bottom: 15px;
}

.hub{
  color: #56aca8;
}