<ng-container *ngIf="(career$ | async)?.length != 0;else loading">
<div class="flex justify-center">
  <div class="font-bold bg-base-200 headernames">
    <p>CAREER PATH IN {{categoryName | uppercase}}</p>
  </div>
</div>
<div class="flex justify-center container mx-auto push">
    <div class="grid md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-1 gap-3 sp">

      <div class="card card-compact w-96 bg-base-100 shadow-xl sh"
        *ngFor="let item of career$ | async" routerLink="/choose/summary/{{item.id}}/{{item.name}}">
        <div class="flex justify-center">
            <div class="flex justify-center names">
              {{item.name | uppercase}}
            </div>

        </div>
        <figure>
          <img [src]="item.image" alt="Shoes" />
        </figure>
      </div>
    </div>
  </div>
  </ng-container>

  <ng-template #loading>
    <app-nodata></app-nodata>
  </ng-template>

  <app-topnav></app-topnav>
  <app-navbar></app-navbar>
  <app-loader></app-loader>
