h3{
    margin-top: 0px;
    padding: 20px;
}

.push{
    // margin: 15px;
    margin-top: 90px;
}

.b{
    border-radius: 0px 0px 10px 10px !important;
    
}

.sh{
    box-shadow: 0 8px 8px rgba(77, 188, 184, 0.286);
    margin-bottom: 30px !important;
}


.small{
    width: 100% !important;
}

.move{
    margin-top: 55px;
    width: 100% !important;
}

// .sh:hover{
//     cursor: pointer;
//   transform: scale(1.1);
// }
.label-text{
    padding-left: 2%;
}

.space{
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    border-radius: 10px 10px 10px 10px !important;
}