<ng-container *ngIf="(requirements$ | async)?.length != 0; else loading">
  <h1 class="flex justify-center font-bold text-3xl heading">
    This are the minimum requirements for {{ careerpathName }}:
  </h1>
  <div class="flex justify-center container mx-auto push">
    <div
      class="card card-compact w-96 bg-base-100 shadow-xl sh"
      *ngFor="let item of requirements$ | async"
    >
      <div class="flex justify-center">
        <div class="flex justify-center font-bold bg-base-200 names">
          Minimun Requirements
        </div>
      </div>
      <div class="flex justify-center">
        <p>Admission Requirements:</p>
      </div>
      <div class="flex justify-center ad">
        <p>
          {{ item.requirements }}
        </p>
      </div>
    </div>
  </div>

  <div class="flex justify-center ad">
    <p class="font-bold">Qualifications you can acquire:</p>
  </div>

  <div class="ppa">
    <div
      class="flex justify-center space"
      *ngFor="let item of qualification$ | async"
    >
      <div
        tabindex="0"
        class="collapse collapse-arrow border w-96 border-base-300 bg-base-100 rounded-box ff"
      >
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">
          {{ item.qualification }}
        </div>
        <div class="collapse-content">
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-nodata></app-nodata>
</ng-template>


<app-loader></app-loader>
