.sep{
  margin-bottom: 80px;
}
.buttons{
  width: 90%;
}
.push{
  margin-top: 20px;
}

.pushed{
  margin-top: 10px;
}

img{
  border-radius: 10px 10px 10px 10px;
}

.sh{
  box-shadow: 3px 3px 0px 0px rgba(77, 188, 184, 0.286);
  margin-bottom: 30px !important;
  background-color: white !important;
}

.names{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  min-width: 350px;
}

.named{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 50px;
  margin: 11px;
}

.sp{
  margin-top: 22px;
}
.img{
  height: 290px !important;
  width: 100% !important;
}

.small{
  width: 100% !important;
}

.move{
  margin-top: 55px;
  width: 100% !important;
}

.ad{
  padding: 20px;
}

.ff{
background-color: white;
box-shadow: 3px 3px 0px 0px rgba(77, 188, 184, 0.286);

}


.space{
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading{
  margin-top: 80px;
  padding: 10px;
}

.ppa{
  margin-bottom: 90px;
}
.salary{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  min-width: 350px;
} 
