<app-loader></app-loader>
<h3 class="flex justify-center font-bold">Suggested career  you can do:</h3>

<div class="flex justify-center container mx-auto push">
  <div
    class="grid md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-1 gap-3 sp"
  >
    <div
      class="flex card card-compact w-96 bg-base-100 shadow-xl justify-center sh"
     
    >
      <figure>
        <img [src]="" alt="Shoes" />
      </figure>
      <button class="btn btn-primary b">
        <!-- {{ }} -->
      </button>
    </div>
  </div>
</div>