.push{
    margin-top: 90px;
    margin-bottom: 80px;
}

img{
    border-radius: 10px 10px 10px 10px;
}

.sh{
    box-shadow: 3px 3px 3px 3px rgba(77, 188, 184, 0.286);
    margin-bottom: 30px !important;
    background-color: white !important;
}

.names{
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
}