<ng-container *ngIf="hold.length != 0; else loading">
<div class="flex justify-center container mx-auto push">
    <div
      class="grid md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-2 gap-3 sp">
      <div
        class="card card-compact w-96 bg-base-100 shadow-xl sh"
        *ngFor="let item of hold; let x = index"
        (click)="sendId(x)"
      >
        <div class="flex justify-center" >
            <div class="names">
              {{ item.name }}
            </div>
         
        </div>
        <figure>
          <img [src]="item.image" alt="Shoes" />
        </figure>
      </div>
    </div>


  
    <app-navbar></app-navbar>
    <app-topnav></app-topnav>
  </div>
</ng-container>

<ng-template #loading>
  <div class="max-w-lg move">
    <progress class="progress w-96 justify-center small"></progress>
  </div>
</ng-template>
  