<ng-container *ngIf="(careercategory$ | async)?.length != 0; else loading">
<div class="flex justify-center container mx-auto push">
    <div
      class="grid md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-1 gap-3 sp"
    >
      <div
        class="card card-compact w-96 bg-base-100 shadow-xl sh"
        *ngFor="let item of careercategory$ | async"
        routerLink="/choose/career/{{item.id}}/{{item.name}}"
      >
        <div class="flex justify-center" >
            <div class="flex justify-center names">
              {{ item.name }}
            </div>

        </div>
        <figure>
          <img [src]="item.image" alt="Shoes" />
        </figure>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #loading>
  <app-nodata></app-nodata>
</ng-template>

<app-loader></app-loader>

