h3{
    margin-top: 70px;
    margin-bottom: 30px;
}

.push{
    // margin: 15px;
    margin-bottom: 90px;
}

.b{
    border-radius: 0px 0px 10px 10px !important;
    
}

.sh{
    box-shadow: 3px 3px 3px 3px rgba(77, 188, 184, 0.286);
    margin-bottom: 30px !important;
}


.small{
    max-width: 100% !important;
}

.move{
    margin-top: 60px;
}